.multiTouchCopntainer img, .multiTouchCopntainer video {
    border			: solid black 3px;
    border-radius	: 1em;
    position		: absolute;
    top				: 0px;
    left			: 0px;
    transform-origin: top left;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

html, body {
    overflow		: hidden;
}
